---
import { logoPathFromOpenrouterSlug } from '@/lib/utils';

interface Props {
  model: string;
  openrouterSlug: string;
  isReasoning: boolean;
}

const { model, openrouterSlug, isReasoning } = Astro.props;
const logo = logoPathFromOpenrouterSlug(openrouterSlug);
const modelHref = `/models/${model}/`;
---

<a class="flex items-center gap-x-1 sm:gap-x-2 text-blue-700 hover:text-blue-500" href={modelHref}>
  <img src={logo} alt={`${model} logo`} class="h-4 w-4 sm:h-5 sm:w-5 object-contain" />
  <span>{model} {isReasoning && (<i class="fa-solid fa-lightbulb text-slate-600 text-sm"></i>)}</span>
</a>