---
interface Props {
  pass1Rate: number;
  passNRate: number;
  showNumbers: boolean;
  size: 'small' | 'large';
}

const { pass1Rate, passNRate, showNumbers, size } = Astro.props;
const pct1 = Math.round(pass1Rate * 100);
const pctN = Math.round(passNRate * 100);
const pctMulti = Math.max(0, pctN - pct1);
const hue = pass1Rate > 0.25 ? Math.round(100 * ((pass1Rate - 0.25) / 0.75)) : 0;
const barHeight = size === 'large' ? 'h-2.5 sm:h-2' : 'h-2 sm:h-1.5';
---

<div>
  {showNumbers && (
    <div class="text-right text-slate-800 tabular-nums text-xs sm:text-sm">
      {pct1}% <span class="text-slate-500"> / {pctN}%</span>
    </div>
  )}
  <div class={`w-full bg-slate-200 ${barHeight} flex${size === 'small' ? ' mt-0.5' : ''}`}>
    <div class={barHeight} style={`width: ${pct1}%; background-color: hsla(${hue}, 85%, 40%, 0.9);`}></div>
    <div class={barHeight} style={`width: ${pctMulti}%; background-color: transparent; border: 2px solid hsla(${hue}, 85%, 45%, 0.8); border-left-width: 0px; box-sizing: border-box;`}></div>
  </div>
</div>